<html>
  <head>
    <title>My Test App</title>
  </head>
  <body>
    <h1>Welcome to the TestApp</h1>
    <p>Choose your action below</p>
    <a href="./inputcontact.html"><input type="button" value="Enter a Contact" /></a>
    <form action="/list" method="get">
      <input type="submit" value="List Contacts" />
    </form>
  </body>
</html>
